doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    title Parallax test
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="assets/css/style.css")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400", rel="stylesheet")
    
  body
    
    section.content
    
      article
        
        h1 Clothing Store
        
        hr
        
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. In rutrum venenatis gravida. Mauris ut pulvinar arcu. Nullam euismod libero eu orci blandit, sed sagittis justo scelerisque. Sed rhoncus blandit congue. Phasellus et enim vestibulum, rhoncus turpis in, tempor nisl. Cras lobortis magna diam, vel tincidunt nisl lacinia ut. Suspendisse eleifend suscipit turpis at dignissim. Donec ultrices gravida felis. Sed tempor quam tristique efficitur dictum. Nulla aliquet magna eget ornare dignissim.
      div(style="height: 2000px")
        
    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="assets/js/functions.js")
